.searched {
  background-image: url('./assets/grey-cross-pattern.jpg');
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 34px;
}

// @media (min-width: 950px) {
//   .header-div {
//     height: 200px;
//   }
// }
