.card {
  background-color: whitesmoke;
  border: 1px solid #02a9ea;
  float: left;
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}

.link-container2 {
  margin: 22px auto 22px auto;
}

.prod-link {
  font-size: 16px;
  text-decoration: none;
}

.prod-link:focus,
.prod-link:hover {
  background-color: #02a9ea;
}

.prod-image {
  // border: lightgrey solid 1px;
  margin-top: 40px;
  margin-bottom: 42px;
  height: 200px;
  width: 200px;
}

.image-container {
  background: #151313;
  margin-bottom: 16px;
}

.prod-description {
  height: 140px;
  font-size: 21px;
  font-weight: 200;
  margin: 0 12px 0 12px;
  overflow-y: scroll;
}

.prod-price {
  margin: 15px auto 15px auto;
}
