* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-direction: row;
}

.show-menu-button {
  display: none;
}

@media all and (max-width: 700px) {
  .header-input {
    margin: 3px 0 0 3px;
  }

  .header-button {
    margin: 3px 3px 0 0;
  }

  .baby-catalog {
    border-left: 2px solid #02a9ea;
    border-right: 2px solid #02a9ea;
    border-bottom: 2px solid #02a9ea;
  }

  .header-div {
    position: fixed;
    width: 100vw;
    border-left: 2px solid #02a9ea;
    border-right: 2px solid #02a9ea;
    border-top: 2px solid #02a9ea;
  }

  .main-aside {
    left: -235px;
    top: 0;
    position: fixed;
    width: 235px;
    height: 100vh;
    transition: all .75s ease-in-out;
    z-index: 3;
  }

  .main-aside.menu-showing {
    left: 0;
  }

  .show-menu-button {
    background-color: #02a9ea;
    color: #171b1e;
    display: block;
    font: bold 10px;
    height: 32px;
    width: 80px;
    position: absolute;
    top: 80px;
    right: -50px;
    transform: rotate(90deg);
  }

  .main-aside.menu-showing .show-menu-button {
    right: -26px;
    top: 50vh;
  }

  #main .baby-catalog,
  #main .camping-catalog {
    padding-top: 80px;
  }
}
